<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajay's Blog</title>

 <!-- ! bootstrap -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>



 <!-- ! font awesome -->
 <!-- * font awesome -->
 <script src="https://kit.fontawesome.com/f854723461.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <span class="navbar-logo pos-center">Daily Journal</span>
        <ul class="nav-list pos-center">
            <li class="nav-list-items"><a href="/" class="item-link">Home</a></li>
            <li class="nav-list-items "><a href="/about" class="item-link">About us</a></li>
            <li class="nav-list-items"><a href="/contact" class="item-link">Contact us</a></li>
        </ul>
    </nav>